html,body{
    width:100%;
    height:100%;
    font-family:Tahoma, Geneva, sans-serif;
}
.login{
    width:285px;
    height:285px;
    overflow:hidden;
    background:#DDDDDD;
    border-radius:6px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-150px;
    margin-top:-142px;
}
.login .title{
    width:298px;
    height:14px;
    padding-top:13px;
    padding-bottom:13px;
    font-size:14px;
    text-align:center;
    color:#FFFFFF;
    font-weight:bold;
    background:#d40066;
    margin-bottom:30px;
    border-top-right-radius:6px;
    border-top-left-radius:6px;
}
.login form{
    width:240px;
    height:auto;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
}

.login form input[type=text], .login form input[type=password]{
    width:200px;
    font-size:12px;
    padding-top:14px;
    padding-bottom:14px;
    padding-left:40px;
    border:none;
    color:#bfbfbf;
    background:#FFFFFF;
    outline:none;
    margin:0;
}
.login form input[type=text]{
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    margin-left: 15px;
}
.login form input[type=password]{
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    margin-left: 15px;
}
.login form .enviar{
    width:240px;
    height:12px;
    display:block;
    padding-top:14px;
    padding-bottom:14px;
    border-radius:6px;
    background:#d40066;
    text-align:center;
    text-decoration:none;
    font-size:12px;
    font-weight:bold;
    color:#FFF;
}
.login .accountoptions{
    width:240px;
    height:auto;
    overflow:hidden;
    padding-top:25px;
    padding-bottom:25px;
    font-size:10px;
    text-align:center;
}
.login .accountoptions .col{
    width:100%;
    height:auto;
    float:left;
}
.login .accountoptions .col a{
    color:#676767;
    text-decoration:none;
}
